*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/shopping-cart-ms/target/
/customer-ms/target/
/product-ms/target/
/registry-ms/target/
/router-ms/target/
/config-ms/target/
/product-model-lib/target/